@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=WDXL+Lubrifont+TC&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  transition: all 300ms ease;
}

nav {
  display: flex;
  flex-direction: column;
  padding: 4px 24px;
  background-color: #eeeeee;
  position: fixed;
  z-index: 100;
  right: 0;
  left: 0;
  top: -12px;
  transition: all 300ms ease;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

i {
  cursor: default;
}

h2 {
  font-weight: 700;
  font-size: 56px;
}

h3 {
  font-size: 44px;
}

.highlight {
  color: #17b8a6;
}

.click {
  cursor: pointer;
  transition: all 300ms ease;
}

.click:hover {
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.8);
}

button {
  cursor: pointer;
}

.no-cursor {
  cursor: not-allowed;
}

section {
  transition: all 300ms ease;
}

.dark-theme h1,
.dark-theme h2,
.dark-theme h3,
.dark-theme .nav__link,
.dark-theme .fa-xmark,
.dark-theme .nav__logo,
.dark-theme .sponsor,
.dark-theme .fa-bars,
.dark-theme .fa-circle-half-stroke,
.dark-theme .btn__menu--close,
.dark-theme .menu__link,
.dark-theme .fa-spinner,
.dark-theme .game__title,
.dark-theme .game__platform,
.dark-theme .game__developer,
.dark-theme .game__release-date,
.dark-theme .fa-window-maximize,
.dark-theme .fa-windows,
.dark-theme .game__title,
.dark-theme .game__platform,
.dark-theme .game__developer,
.dark-theme .game__release-date,
.dark-theme .game-info__title,
.dark-theme .game-info__description--short,
.dark-theme .game-info__description--long,
.dark-theme .profile__info--content,
.dark-theme .game-info__section--title,
.dark-theme .system__coloumn--info {
  color: white;
}

.dark-theme section,
.dark-theme .menu__backdrop,
.dark-theme {
  background-color: #242424;
  transition: all 300ms ease;
}

.dark-theme nav,
.dark-theme .sponsor {
  background-color: #393838;
}

.dark-theme .game {
  background-color: rgb(54, 54, 54);
  box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.3);
}

.dark-theme .sponsor__logo--img {
  filter: none;
}

.dark-theme .nav__link--hover-effect:after {
  background-color: white;
}

.container {
  padding: 56px;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/*

    NAVIGATION

*/

.logo {
  display: flex;
  align-items: center;
}

.nav__logo {
  padding-top: 4px;
  position: absolute;
  font-size: 40px;
  animation: nav__logo 1000ms infinite alternate;
}

@keyframes nav__logo {
  0% {
    transform: translateY(6px);
  }
  100% {
    transform: -translateY(-6px);
  }
}

.nav__logo-text {
  text-align: center;
  margin-left: 52px;
  font-size: 40px;
  font-family: "WDXL Lubrifont TC", sans-serif;
}

.highlight__logo {
  font-family: "WDXL Lubrifont TC", sans-serif;
  color: #17b8a6;
}

.nav__title {
  font-size: 40px;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav__links {
  display: flex;
  align-items: center;
}

.nav__link {
  margin: 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.nav__link--hover-effect {
  position: relative;
}

.nav__link--hover-effect:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  background-color: black;
  transition: all 300ms ease;
}

.nav__link--hover-effect:hover:after {
  left: 0;
  width: 100%;
}

.nav__link--primary {
  background-color: #17b8a6;
  border-radius: 50px;
  padding: 12px;
  color: white;
  transition: all 300ms ease;
}

.nav__link--primary:hover {
  background-color: #25789b;
}

.fa-circle-half-stroke {
  color: black;
}

.menu__button {
  padding: 0 24px;
}

.btn__menu--open {
  display: none;
  font-size: 32px;
  background: transparent;
  border: none;
  transition: all 300ms ease;
}

.menu__backdrop {
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
}

.menu--open nav {
  position: static;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}

.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  font-size: 40px;
  color: black;
}

.menu__link--primary {
  background-color: #17b8a6;
  border-radius: 50px;
  padding: 24px 24px;
  color: white;
  transition: all 300ms ease;
}

.menu__link--primary:hover {
  background-color: #25789b;
}

.menu__contrast {
  font-size: 32px;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: black;
  background-color: transparent;
  border: none;
  font-size: 40px;
}

.sponsor {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  margin-top: -16px;
  background-color: #eeeeee;
}

.sponsor__title {
  font-size: 12px;
  font-weight: 200;
  margin-right: 12px;
}

.sponsor__logo {
  display: flex;
  align-items: center;
}

.sponsor__logo--img {
  filter: invert(1);
  cursor: pointer;
  max-height: 28px;
}

/*

    HEADER

*/

.header__container {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  padding-top: 10rem;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header__description {
  font-weight: 700;
  line-height: 1.25;
}

.input__title {
  margin: 30px 0;
}

.browse__btn {
  width: 400px;
  font-size: 40px;
  padding: 12px;
  color: #fff;
  border-radius: 20px;
  transition: all 0.25s ease;
  border: 1px solid #17b8a6;
  background-color: #17b8a6;
  box-shadow: 7px 7px 14px rgba(93, 204, 156, 0.3);
  cursor: pointer;
}

.browse__btn:hover {
  border: 1px solid #25789b;
  background-color: #25789b;
}

.browse__btn:active {
  transform: translateY(2px);
}

.fa-magnifying-glass {
  cursor: pointer;
}

.header__img--wrapper {
  padding: 20px;
}

.header__img {
  height: 100%;
  max-height: 45vh;
  padding: 20px;
}

/*

    FOOTER

*/

.footer__container {
  display: flex;
  justify-content: center;
  background-color: #314845;
  padding: 32px;
}

.footer__logo-text {
  font-size: 48px;
  font-family: "WDXL Lubrifont TC", sans-serif;
  color: white;
}

.footer__links {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 16px 0;
}

.footer__link {
  color: white;
  padding: 8px;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__copy {
  text-align: center;
  color: white;
}

/*
**

    SEARCH PAGE

**
*/

#search__body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#search__main {
  flex: 1;
}

.search__container {
  width: 100%;
  max-width: 800px;
  padding: 0 20px;
  padding-top: 6rem;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.search__description {
  margin-top: 12px;
  margin-bottom: 36px;
}

.games__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

select {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  color: #606266;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 16px;
  width: 100%;
  max-width: 200px;
}

.input__wrapper {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

#input__area {
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #0a1f44;
  color: #0a1f44;
  height: 70px;
  line-height: 40px;
  outline: none;
  padding: 0 15px;
  width: 100%;
  font-size: 24px;
  padding-left: 25px;
}

.input__btn {
  width: 200px;
  margin-left: 20px;
  font-size: 40px;
  color: #fff;
  border-radius: 20px;
  transition: all 0.25s ease;
  border: 1px solid #17b8a6;
  background-color: #17b8a6;
  box-shadow: 7px 7px 14px rgba(93, 204, 156, 0.3);
  cursor: pointer;
}

.input__btn:hover {
  border: 1px solid #25789b;
  background-color: #25789b;
}

.input__btn:active {
  transform: translateY(2px);
}

.games__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  font-size: 60px;
}

.games__loading--spinner {
  display: none !important;
}

.games__loading .games__loading--spinner {
  display: block !important;
}

.fa-spinner {
  animation: rotate 600ms infinite linear;
}

.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game {
  margin: 16px;
  background-color: rgb(233, 233, 233);
  box-shadow: 7px 7px 14px rgba(130, 130, 130, 0.3);
  border-radius: 4px;
  overflow: hidden;
}

.game__click {
  transition: all 300ms ease;
}

.game__click:hover {
  transform: scale(1.05);
}

.game__img--wrapper {
  max-height: 200px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.game__title,
.game__platform,
.game__developer,
.game__release-date {
  color: black;
}

.game__title-platform {
  display: flex;
  justify-content: space-around;
  margin-bottom: 8px;
  margin-top: 8px;
}

.game__title,
.game__platform {
  margin-right: 4px;
  font-size: 20px;
}

.game__dev-release {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game__developer {
  font-size: 20px;
  margin-bottom: 4px;
}

.game__release-date {
  font-size: 12px;
  margin-bottom: 4px;
}

.load__btn--wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.game__card--skeleton {
  margin: 16px;
  width: 365px;
  height: 285px;
  background-color: rgb(233, 233, 233);
  box-shadow: 7px 7px 14px rgba(130, 130, 130, 0.3);
  border-radius: 4px;
  overflow: hidden;
}

#load__btn {
  margin-top: 36px;
  width: 160px;
  padding: 12px;
  font-size: 20px;
  color: #fff;
  border-radius: 20px;
  transition: all 0.25s ease;
  border: 1px solid #17b8a6;
  background-color: #17b8a6;
  box-shadow: 7px 7px 14px rgba(93, 204, 156, 0.3);
  cursor: pointer;
}

#load__btn:hover {
  border: 1px solid #25789b;
  background-color: #25789b;
}

#load__btn:active {
  transform: translateY(2px);
}

#load__btn:disabled {
  display: none;
}

.no-game {
  padding: 60px;
}

/*
**

    GAME INFO PAGE

**
*/

.game-info__container {
  padding: 6rem 16px 16px 32px;
}

.game__profile {
  display: flex;
  flex-direction: row;
}

.game__profile--left {
  padding: 16px;
}

.game__profile--sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 7rem;
}

.game__thumbnail {
  border-radius: 4px;
}

.play-game__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 260px;
  font-size: 20px;
  font-weight: 600;
  padding: 16px;
  margin-top: 12px;
  color: #fff;
  border-radius: 20px;
  transition: all 0.25s ease;
  border: 1px solid #17b8a6;
  background-color: #17b8a6;
  box-shadow: 7px 7px 14px rgba(93, 204, 156, 0.3);
  cursor: pointer;
}

.play-game__button:hover {
  border: 1px solid #25789b;
  background-color: #25789b;
}

.play-game__button:active {
  transform: translateY(2px);
}

.play__icon {
  padding-right: 16px;
}

.game-info__free-to-game {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 12px;
  text-decoration: underline;
  font-size: 12px;
  color: darkgrey;
}

.game__profile--right {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.game-info__title {
  font-weight: 700;
  font-size: 40px;
}

.game-info__description--short {
  margin-top: 16px;
  padding: 12px;
  font-size: 20px;
}

.game__profile--info {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  padding-left: 16px;
}

.profile__info--right {
  width: 33%;
  color: darkgray;
}

.profile__info--title,
.profile__info--content {
  margin-top: 4px;
}

.profile__info {
  font-weight: 500;
}

.game-info__screenshot {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: 32px;
}

.game-info__screenshot--img {
  margin: 16px;
  max-width: 100%;
  border-radius: 24px;
  box-shadow: 7px 7px 14px rgba(130, 130, 130, 0.3);
}

.game-info__description--long {
  padding: 24px;
  font-size: 20px;
}

.game-info__section--title {
  font-weight: 500;
  font-size: 24px;
  margin-top: 20px;
}

.system__coloumn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 180px;
  max-width: 50%;
}

.system__column--item {
  margin-top: 12px;
  padding: 0 16px;
}

.system__column--title {
  color: darkgray;
}

.game__screenshot--skeleton {
  margin: 16px;
  max-width: 100%;
  background-color: rgb(233, 233, 233);
  box-shadow: 7px 7px 14px rgba(130, 130, 130, 0.3);
  border-radius: 4px;
  overflow: hidden;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* LAPTOPS & DESKTOPS */
@media (max-width: 992px) {
  h2 {
    font-size: 48px;
    padding: 20px;
  }

  h3 {
    font-size: 36px;
  }

  .nav__links {
    display: none;
  }

  .btn__menu--open {
    display: block;
  }

  .input__wrapper {
    padding: 30px;
  }

  .game__title-platform {
    justify-content: center;
  }

  .game__title {
    margin-right: 36px;
  }

  .game-info__title {
    font-weight: 700;
    font-size: 32px;
  }

  .game-info__section--title {
    font-size: 20px;
    margin-top: 16px;
  }

  .game-info__description--long {
    padding: 8px;
    font-size: 16px;
  }

  .profile__info--right {
    width: 50%;
  }

  .system__coloumn {
    max-height: 100%;
    max-width: 100%;
  }
}

/* TABLETS */
@media (max-width: 768px) {
  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 28px;
  }

  .header__img {
    max-height: 35vh;
  }

  .game__profile {
    flex-direction: column;
  }
}

/* SMALL PHONES, LARGE SMARTPHONES */
@media (max-width: 576px) {
  #landing {
    height: 100vh;
  }

  .header__container {
    padding: 10rem 40px 20px;
  }

  .search__container {
    padding-top: 10rem;
  }

  .game-info__container {
    padding-top: 10rem;
  }

  .header__img {
    display: none;
  }

  .game__img {
    width: 100%;
    height: auto;
  }

  .input__wrapper {
    flex-direction: column;
  }

  .input__btn {
    width: 100%;
    margin: 20px 0 0 0;
    border: 8px solid #17b8a6;
    font-size: 40px;
  }

  .input__btn:hover {
    border: 8px solid #25789b;
  }

  .container {
    padding: 24px;
  }
}
